@import "../../styles/variables";

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_wrapper {
    z-index: 5;
    position: relative;
  }
  &__header {
  }
  &__content {
    position: relative;
    padding: 0 7rem !important;
    //avatar
    .avatar {
      display: block;
      margin: auto;
      box-shadow: $shadow-md;
      border: 2px solid $primary-dark;
    }
    //name
    .name {
      display: block;
      font-size: 1.4rem;
      line-height: 1.4rem;
      font-weight: 500;
      // color: $primary-color;
      color: transparentize($color: $primary-light, $amount: 0.3);
      letter-spacing: 1px;
    }
    //rpole
    .role {
      margin: auto;
      display: block;
      font-size: 1.1rem;
      // color: $primary-dark;
      color: transparentize($color: $text-dark, $amount: 0.1);
      font-weight: 100;
    }
    //test
    // TODO:Remove later
    .test {
      max-width: 400px;
      border-radius: 10px;
      filter: brightness(70%) contrast(190%) hue-rotate(60deg) sepia(15%) invert(300%);
    }

    //summary
    p {
      padding-left: 5rem;
      padding-right: 5rem;
      text-align: center;
      margin-top: 1rem;
      font-weight: 300;
      position: relative;
      height: calc(1.5rem * 5);
      color: $text-white;
      letter-spacing: 1px;
      line-height: 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      //more button
      &.more {
        height: auto !important;
        -webkit-line-clamp: initial;
      }
    }

    //more button
    .more-btn {
      border: 2px solid transparentize($color: $primary-light, $amount: 0.3) !important;
      position: relative;
      background: transparent;
      font-size: 0.9rem;
      border-radius: 30px;
      color: transparentize($color: $primary-light, $amount: 0.3) !important;
      &:focus,
      &:active {
        background: transparent !important;
        box-shadow: none !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-me {
    &__content {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      p {
        padding-left: 0rem;
        padding-right: 0rem;
      }
    }
  }
}
