@import "../../styles/variables";

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_wrapper {
    z-index: 5;
    position: relative;
  }
  &__header {
  }
  &__content {
    position: relative;
    padding: 0 7rem !important;
    //avatar
    .avatar {
      display: block;
      margin: auto;
      box-shadow: 2px 0px 10px rgba(2, 4, 4, 0.68);
      border: 2px solid $primary-dark;
      padding: 2px;
    }
    //name
    .name {
      display: block;
      font-size: 1.4rem;
      line-height: 1.4rem;
      font-weight: 500;
      // color: $primary-color;
      color: transparentize($color: $primary-light, $amount: 0.3);
      letter-spacing: 1px;
    }
    //role
    .role {
      margin: auto;
      display: block;
      font-size: 1.1rem;
      // color: $primary-dark;
      color: transparentize($color: $text-dark, $amount: 0.1);
      font-weight: 100;
    }

    //sumary showcase
    .summary_showcase {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      &:hover {
        cursor: pointer;
        .summary_showcase_item {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      &_item {
        transition: transform 0.8s ease-in !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0.8rem;
        background: $slate;
        max-width: 130px;
        margin: 1rem 0.2rem;
        border-radius: 1px;
        display: inline-block !important;
        &_icon i {
          font-size: 1.2rem !important;
        }

        &_title {
          margin: 0;
          color: $text-light;
          font-weight: 100;
          font-size: 0.8rem;
        }
      }
      &_item:nth-child(1) {
        .summary_showcase_item_icon {
          color: $primary-lighter;
        }
      }
      &_item:nth-child(2) {
        .summary_showcase_item_icon {
          color: $default-color;
        }
      }
      &_item:nth-child(3) {
        .summary_showcase_item_icon {
          color: $secondary-light;
        }
      }
    }

    //summary
    .summary {
      font-weight: 200;
      color: $text-white;
      letter-spacing: 1px;
      line-height: 1.5rem;
      br {
        display: none;
      }
    }

    //more button
    .more-btn {
      border: 2px solid transparentize($color: $primary-light, $amount: 0.3) !important;
      position: relative;
      background: transparent;
      font-size: 0.9rem;
      border-radius: 30px;
      margin-top: 1rem !important;
      color: transparentize($color: $primary-light, $amount: 0.3) !important;
      &:focus,
      &:active {
        background: transparent !important;
        box-shadow: none !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-me {
    &__content {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      .summary {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
      }

      .summary_showcase {
        &:hover {
          .summary_showcase_item {
            &:hover {
              transform: scale(1);
            }
          }
        }
        &_item {
          &_icon i {
            font-size: 1rem !important;
          }

          &_title {
            font-weight: 100;
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}
