@import '../../styles/variables';

.my_resume{
  &__header{
    font-family: 'Inter', sans-serif;
    padding-left: 7rem !important;
  }
  &_heading{
    font-size: 1.1rem;
    font-weight: 300;
    color: $primary-light;
  }
  &__content{
    padding: 0px 7rem !important;
    .my_resume_educations{
    
    }
  }
}




@media only screen and (max-width: 768px){
  .my_resume{
    &__header{
      padding-left: 0px  !important;
      padding-right: 0px  !important;
    }
    &__content{
      padding: 0px 2rem !important;
      .my_resume_educations{
        &_heading{

        }
      }
    }
  }
  
}