@import "../../styles/variables";

.timeline_item {
    section {
        // margin-left: 2rem !important;
        div:nth-child(2) {
            .timeline_item_content {
                // width: calc(100% - 2rem);
                // top: -0.5rem;

                .ed_duration {
                    color: transparentize($color: $primary-dark, $amount: 0.5);
                    padding: 0.5rem 0.5rem 0rem 0.5rem;
                    font-size: 0.9rem;
                    font-weight: 500;
                    height: 1.2rem;
                    // position: absolute;
                    // left: -6rem;

                    // top: 0.9rem;
                    &_from {
                        display: inline-block;
                    }
                    &_to {
                        display: inline-block;
                    }
                    &_seperator {
                        margin: 0rem 0.3rem !important;
                        content: "-";
                    }
                }

                .ed_title {
                    color: $primary-dark;
                    padding: 0.5rem 0.5rem;
                    font-size: 1rem;
                    &_institution {
                        font-weight: 600;
                        letter-spacing: 1px;
                        &::after {
                            content: ",";
                            display: inline-block;
                            margin-right: 0.5rem;
                        }
                    }
                    &_location {
                        font-size: 0.9rem;
                    }
                }

                .ed_sub {
                    padding: 0rem 0.5rem;
                    font-size: 0.9rem;
                    margin-bottom: 1rem;
                    &_main {
                        display: block;
                        font-weight: 500;
                    }
                    &_sec {
                        display: block;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .timeline_item {
        section {
            margin-left: 0rem !important;
            div:nth-child(2) {
                .timeline_item_content {
                    width: 100%;
                    top: 0rem;
                    .ed_duration {
                        font-size: 0.8rem;
                        position: relative !important;
                        padding: 0.5rem 0.5rem !important;
                        left: 0rem;
                        height: 1rem;
                        top: 0rem;
                    }

                    .ed_title {
                        padding: 0.5rem 0.5rem 0rem 0.5rem;
                        font-size: 1rem;
                    }

                    .ed_sub {
                        padding: 0rem 0.5rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}
