@import '../../styles/variables';

.navbar{
  background: transparent !important;

  //brand
  &-brand{
      color: $text-white !important;
  }

  //menu icon
  .navbar-toggler{
    color: $primary-dark;
    border: 0;
    &:hover{
      opacity: .8;
    }
  }
  
  //nav
  &-nav{
      .nav-link{
          &::after{
              content: "";
              display: block;
              border:3px solid;
              width: 70%;
              height: 5px;
              transform: scale(0);
              transition: transform .4s;
              transform-origin: left;
              border-radius: 3rem;
          }
          &:hover{
              &::after{
                  transform: scale(1);
              }
          }
      }
  }

  //solid style
  &.solid{
    background: linear-gradient(to left, #dddddd 24.3%, #FFFFFF 79.07%) !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
    //brand
    .navbar-brand{
      color: rgb(55, 63, 65) !important;
    } 
  }
}


@media only screen and (max-width: 768px){
  .navbar{
    &-nav{
      border-top: 1px solid transparentize($color: $text-light-dark, $amount: .8);
      .nav-link{
        &::after{
            border:none;
        }
      }
    }
  }
}