.appbar {
    font-family: "Heebo", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 86px !important;
    margin: auto 0;
    left: 0 !important;
    width: 100vw !important;
    overflow: hidden;
    &.transparent {
        background-color: transparent !important;
        .navbar-nav a {
            color: $default !important;
        }
    }
    &.solid {
        background-color: $primary !important;
        background: linear-gradient(to right, #1c2324, #b1c1ae) !important;
        .navbar-nav a {
        }
    }
    .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        a {
            text-decoration: none;
            color: $default !important;
            &.link-active {
                &::after {
                    transform: scaleX(1);
                    border-bottom: solid 3px #00ddfa;
                }
            }
            &::after {
                display: block;
                content: "";
                border-bottom: solid 3px #56624d;
                transform: scaleX(0);
                transition: transform 400ms;
                transform-origin: 100% 50%;
            }
            &:hover:after {
                transform: scaleX(1);
            }
        }
    }
    .appbar-social {
        border: 1px solid white !important;
        border-radius: 2rem;
        padding: 0.45rem 0.5rem !important;
        button {
            color: white !important;
            font-size: 1rem;
        }
    }
}
