.landing {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-bg {
        height: 100% !important;
        width: 100vw !important;
        position: absolute;
        content: "";
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        object-fit: fill;
        // animation: topSlideIn 3s ease-in 0.2s 1 forwards;
        animation: topSlideIn 2.5s ease-out 0.1s 1 forwards;
        transition: top 0.3s ease-in-out;
    }
    .title {
        font-size: 2rem;
        z-index: 5;
        margin-left: 10rem;
        text-transform: capitalize;
        // border-left: 5px solid white;
        padding-left: 1rem;
        margin-top: -10rem;
        .name-intro {
            span {
                display: none;
            }
            .name {
                display: block;
                line-height: 5rem;
                color: $light;
                display: block;
                font-size: 5rem;
                font-weight: 900;
                // border-bottom: 5px solid white;
                text-shadow: $text-shadow-dark;
            }
        }
        .designation {
            color: $white-fade;
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .landing {
        &-bg {
            height: 90% !important;
            width: 100vw !important;
            position: absolute;
            top: -100%;
            content: "";
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100% 100%;
            background-position: center;
            object-fit: fill;
            animation: topSlideIn 2.5s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 forwards;
        }
        .title {
            padding-top: 86px;
            margin-left: 0;
            margin-bottom: auto;
            font-size: 1.3rem;
            padding-left: 24px;
            .name-intro {
                .name {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 680px) {
    .landing {
        .title {
            padding-top: 96px;
            margin-left: 0;
            margin-bottom: auto;
            font-size: 1.3rem;
            padding-left: 24px;
            .name-intro {
                .name {
                    font-size: 2.4rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 920px) and (min-width: 680px) {
    .landing {
        .title {
            padding-left: 1.5rem;
            font-size: 1.5rem;
            .name-intro {
                .name {
                    font-size: 2.8rem;
                }
            }
        }
    }
}

@keyframes topSlideIn {
    0% {
        top: -600px;
    }
    100% {
        top: -20px;
    }
}
