* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
  overflow-y: auto;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.dim {
  &:hover {
    opacity: 0.7;
  }
  transition: opacity 0.3s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.selected {
  background: rgba(214, 214, 214, 0.267);
}
