.summary {
    min-height: calc(100vh - 86px);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background: #a6b2a3;
}
