$text-shadow-dark: 0px 0px 10px #05050563;
$text-shadow-light: 0px 0px 10px #bdbdbd63;
$shadow-dark: 0px 0px 20px #0505058f;

//colors
$primary-dark: rgb(39, 39, 39);
$primary-dark-2: rgb(28, 33, 38);
$primary-light: rgb(62, 73, 86);
$default: #444444;
$primary: rgb(17, 33, 41);
$secondary: rgb(165, 114, 76);
$dark: rgb(24, 24, 24);
$light: rgb(212, 212, 212);
$white: white;
$white-fade: rgb(182, 182, 182);
$brown-light: #d3c6b7;
$green-light: #a0a698;
$brown-green: #595948;
$brown-red: #bf7d65;

$gray: #cccccc;
$gray-dark: #a5a5a5;
$gray-dark-1: #808080;
$gray-dark-2: #595959;
$gray-dark-3: #454545;

$color-primary: #0088cc;
