@import "../../styles/variables";

.landing {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Barlow", sans-serif !important;
  background: linear-gradient(to bottom, #0b1214 0%, #0b1416 99.7%);
  text-align: center;
  overflow: hidden;
  &_vector {
    position: absolute;
    right: 0;
    background-size: cover;
    object-fit: fill;
    background-position: right;
    height: auto;
    width: 80%;
    top: 20%;
    transform: translateX(40%);
  }
  //background
  &__bg {
    min-height: 600px;
    height: 110vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 0;
  }

  // name and intro
  .name__intro {
    position: relative;
    z-index: 2;
    // margin-right: auto;
    margin-left: 0;
    width: 100%;
    //info
    &_info {
      color: $text-light;
      text-shadow: $shadow-sm;
      font-weight: 900;

      &-greeting {
        font-size: 3.5rem;
        font-weight: 300;
        display: none;
        line-height: 4rem;
      }
      &-name {
        font-size: 3rem;
        color: $text-white;
        font-weight: 600;
        line-height: 4rem;
        letter-spacing: 1px;
      }
      &-designation {
        letter-spacing: 1px;
        font-weight: 300;
        display: block;
        color: $text-dark;
        text-transform: unset !important;
        font-size: 1rem;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.397);
      }

      //button
      .btn {
        border: 2px solid $primary-light !important;
        border-radius: 30px;
        overflow: hidden;
        text-shadow: none;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow-sm;
        z-index: 2;
        background: linear-gradient(90deg, #051317 0%, #0b1416 99.7%) !important;
        color: $primary-light !important;
        &::after {
          position: absolute;
          top: -100%;
          transition: top 0.4s;
          height: 100%;
          width: 100%;
          left: 0%;
          content: "";
          z-index: -1;
          background: linear-gradient(90deg, #030b0e 0%, #0c1618 99.7%);
        }
        &:hover {
          position: relative;
          z-index: 1;
          color: $text-white !important;
          &::after {
            top: 0%;
          }
          .download {
            color: $text-white;
          }
        }
        .download {
          color: $primary-light;
          z-index: 3;
          position: relative;
          transition: color 0.4s;
        }
      }
    }
  }
}

//TODO:Remove
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .landing {
    padding-left: 0rem;
    &_vector {
      top: 30%;
      width: 120%;
      transform: translateX(60%);
    }
    .name__intro {
      margin: auto;
      width: 100%;
      &_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-greeting {
          font-size: 1rem;
          // display: block;
          line-height: 1.8rem;
        }
        &-name {
          font-size: 2.5rem;
          line-height: 3.2rem;
          text-align: center !important;
        }
        &-designation {
          text-align: center !important;
          font-size: 1rem;
        }
        &-btn {
          margin: 1rem 0 !important;
          padding: 0 0.5rem !important;
          font-size: 0.8rem !important;
          .download > i {
            font-size: 0.8rem !important;
          }
        }
      }
    }
  }
}
