@import "../../styles/variables";

.landing {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Barlow", sans-serif !important;
  //background
  &__bg {
    min-height: 600px;
    height: 110vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 0;
    // TODO:REMOVE - use react-reveal intsead
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out 0.1s 1 forwards !important;
    //
  }

  //bg div
  &-skew {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    background: linear-gradient(90deg, #232c3b 0%, #1e2532 99.7%);
    // transform: skewY(10deg) translateY(-50%);
    // &::after {
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   left: 0;
    //   position: absolute;
    //   background: inherit;
    //   z-index: -1;
    //   top: 10%;
    //   bottom: 0;
    //   transform-origin: left bottom;
    //   transform: skewY(5deg);
    // }
  }

  // name and intro
  .name__intro {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 100%;
    //info
    &_info {
      // TODO:REMOVE - use react-reveal intsead
      opacity: 0;
      animation: fadeIn 0.6s ease-in 1s 1 forwards;
      //
      color: $text-light;
      text-shadow: $shadow-sm;
      text-transform: capitalize;
      font-weight: 900;

      &-greeting {
        font-size: 3.5rem;
        font-weight: 300;
        display: none;
        line-height: 4rem;
      }
      &-name {
        // TODO:REMOVE - use react-reveal intsead
        opacity: 0;
        animation: fadeIn 0.7s ease-in 1.3s 1 forwards;
        //
        font-size: 3.5rem;
        color: $text-white;
        font-weight: 700;
        line-height: 4rem;
        letter-spacing: 2px;
      }
      &-designation {
        // TODO:REMOVE - use react-reveal intsead
        opacity: 0;
        animation: fadeIn 0.7s ease 2s 1 forwards;
        //
        letter-spacing: 2px;
        font-weight: 300;
        display: block;
        font-size: 1.2rem;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.397);
      }

      //button
      &-btn {
        // TODO:REMOVE - use react-reveal intsead
        opacity: 0;
        animation: fadeIn 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.5s 1 forwards;
        //
        overflow: hidden;
        text-shadow: none;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow-sm;
        transition: box-shadow 0.7s;
        z-index: 2;
        // background: linear-gradient(90deg, #ABBAB8 0%, #FFFFFF 100%);
        color: $primary-dark;
        &::after {
          position: absolute;
          top: -100%;
          transition: top 0.4s;
          height: 100%;
          width: 100%;
          left: 0%;
          content: "";
          z-index: -1;
          background: $primary-light;
        }
        &:hover {
          box-shadow: $shadow-md;
          position: relative;
          z-index: 1;
          &::after {
            top: 0%;
          }
          .download {
            color: $text-white;
          }
          .btn {
            color: $text-white !important;
          }
        }
        .download {
          color: $primary-dark;
          z-index: 3;
          position: relative;
          transition: color 0.4s;
        }

        &:active,
        &:focus {
          background: rgba($color: $text-white, $alpha: 0.9);
        }
        .btn {
          transition: color 0.4s;
          position: relative;
          z-index: 3;
          padding: 0.5rem 1rem !important;
          letter-spacing: 1px;
          font-weight: 400;
          background: transparent;
          outline: none;
          border: none;
          color: $primary-dark !important;
          &:active,
          &:focus {
            background: transparent;
            // background: rgba($color: $text-light, $alpha: .8)
          }
        }
      }
    }
  }
}

//TODO:Remove
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .landing {
    &-skew {
      // transform: skewY(14deg) translateY(-48%);
      // height: 90%;
    }
    .name__intro {
      &_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-greeting {
          font-size: 1rem;
          display: block;
          line-height: 1.8rem;
        }
        &-name {
          font-size: 2.5rem;
          line-height: 3.2rem;
          text-align: center !important;
        }
        &-designation {
          text-align: center !important;
          font-size: 1rem;
        }
        &-btn {
          margin: 1rem 0 !important;
          padding: 0 0.5rem !important;
          font-size: 0.8rem !important;
          .download > i {
            font-size: 0.8rem !important;
          }
        }
      }
    }
  }
}
