@import '../../styles/variables';

.landing{
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  //background
  &__bg{
    min-height: 600px;
    height: 105vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    object-fit: fill;
    background-repeat: no-repeat;
    z-index: 0;
     // TODO:REMOVE - use react-reveal intsead
    opacity: 0;
    animation: fadeIn .8s ease-in-out .1s 1 forwards !important;
    // 
  }

  // name and intro
  .name__intro{
   
    position: relative;
    z-index: 2;
    margin: auto;
    width: 100%;
    //info
    &_info{
       // TODO:REMOVE - use react-reveal intsead
      opacity: 0;
      animation: fadeIn .6s ease-in 1s 1 forwards;
      //
      color: $text-light;
      text-shadow: $shadow-sm;
      text-transform: capitalize;
      font-weight: 900;
      
      &-greeting{
        font-size: 3.5rem;
        font-weight: 300;
        display: none;
        line-height: 4rem;
      }
      &-name{
        // TODO:REMOVE - use react-reveal intsead
        opacity: 0;
        animation: fadeIn .7s ease-in 1.3s 1 forwards;
        // 
        font-size: 3.5rem;
        color: $text-white;
        line-height: 4rem;
        letter-spacing: 2px;
      }
      &-designation{
          // TODO:REMOVE - use react-reveal intsead
        opacity: 0;
        animation: fadeIn .7s ease 2s 1 forwards;
        // 
        letter-spacing: 2px;
        font-weight: 300;
        display: block;
        font-size: 1.2rem;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.397);
      }

       //button
    &-btn{
       // TODO:REMOVE - use react-reveal intsead
      opacity: 0;
      animation: fadeIn .8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3.5s 1 forwards;
      // 
      text-shadow: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-shadow: $shadow-sm;
      transition: box-shadow .7s;
      // background: linear-gradient(90deg, #ABBAB8 0%, #FFFFFF 100%);
      color: $primary-dark;
      &:hover{
        box-shadow: $shadow-md;
      }
      .download{
        color: $primary-dark;
      }
      &:active,&:focus{
        background: rgba($color: $text-white, $alpha: .9)
      }
      .btn{
        letter-spacing: 1px;
        font-weight: 400;
        background: transparent;
        outline: none;
        border: none;
        color: $primary-dark !important;
        &:active,&:focus{
          background: transparent; 
          // background: rgba($color: $text-light, $alpha: .8)
        }
      }
      
    }
    }

   
  }
}

//TODO:Remove
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



@media only screen and (max-width: 768px){
  .landing{
    .name__intro{
      &_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-greeting{
          font-size: 1rem;
          display: block;
          line-height: 1.8rem;
        }
        &-name{
          font-size: 2.8rem;
          line-height: 3.2rem;
        }
        &-designation{
          font-size: 1rem;
        }
        &-btn{
          margin: 1rem 0 !important;
          padding: 0 .5rem !important;
          font-size: .8rem !important;
         .download >i{ 
           font-size: .8rem !important;
         }
        }
      }
    }
  }
}