// general

.background__container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #0c1d26;
    position: fixed;
    z-index: 1;
}

.svg-land {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
}
