@import "../../styles/variables";

.skill_progress {
  padding: 0;
  &_info {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 0.9rem;
    color: $text-white;
    margin-bottom: 0.5rem;
    &_label {
    }
    &_value {
    }
  }
  &_bar {
    height: 5px;
    position: relative;
    z-index: 7;
    overflow: visible;
    .progress-bar {
      background: $default-color;
      position: relative;
      z-index: 8;
      overflow: visible;
      border-radius: 10px !important;
    }
  }
}
