@import "./styles/variables";

//font - barlow
// @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #171c21;
}

body {
  // font-family: "Barlow", sans-serif !important;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
  background: linear-gradient(180deg, #050e11 0%, #222831 100%);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.hover {
  &:hover {
    box-shadow: $shadow-md;
  }
}

.skewed-right-bottom {
  position: absolute;
  left: 0px;
  width: 100vw;
  height: auto;
  bottom: -56px;
  object-fit: fill;
}

.skewed-left-top {
  position: absolute;
  left: 0px;
  width: 100vw;
  height: auto;
  top: -126px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

//btn more
.btn_more {
  position: absolute;
  right: 0;
  z-index: 10;
  margin: 0.5rem 1rem;
  bottom: 0;

  .btn {
    background: $primary-light !important;
    color: $dark !important;
    // background: transparentize($color: $primary-lighter, $amount: 0.5);
    font-size: 0.8rem !important;
    text-transform: capitalize;
    &:hover {
      background: transparentize($color: $primary-lighter, $amount: 0.4);
    }
  }
}

.fade.modal-backdrop.show {
  opacity: 0.9 !important;
  background: rgb(13, 15, 17);
}
